@model jamiaAPP.Models.tbl_campus

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tbl_campus</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.campusName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.campusName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.campusAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.campusAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.campusDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.campusDescription)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.campusID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
